@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: linear-gradient(to bottom right, #FCCE32, #FF2B5B);
        font-family: Roboto;
        
    }

    h1, h2, h3, p, span {
        color: white;
    }
</style>

<div class="text-center">
    <h1 class="display-4">EXAMEN T3 DAS GRUPO 5</h1>
    <p style="text-align:center">INTEGRANTES:</p>
    <p style="text-align:center">RENATO PEDRO ENCISO DE LA SOTA</p>
    <p style="text-align:center">
        JEFERSON ESTEBAN SANTA CRUZ LAYNES
    </p>
</div>
