
@{
    ViewData["Title"] = "LibrosArquitecturaSoftware";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: linear-gradient(to bottom right, #FCCE32, #FF2B5B);
        font-family: Roboto;
    }

    .bloque {
        background-color: white;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        padding: 20px;
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }

        .bloque h1 {
            color: black;
            font-weight: 900;
            text-align: center;
            margin-bottom: 20px;
        }

    .container {
        color: white;
    }

    .Datos h2, p {
        color: black;
    }

    .Datos {
        font-family: Roboto;
    }

        .Datos p {
            text-align: justify;
        }

        .Datos img {
            margin: 10px 30%;
            width: 500px;
            height: auto;
            border-radius: 20px;
        }

</style>

<div class="bloque">
    <h1>Libros de Arquitectura de Software</h1>
    <div class="Datos">
        <h2>1. Software Architecture in Practice</h2>
        <p>Este libro proporciona una visión completa de la arquitectura de software, destacando la importancia de las decisiones arquitectónicas y cómo impactan en el desarrollo y mantenimiento de sistemas. Incluye estudios de caso y técnicas prácticas para diseñar arquitecturas robustas.</p>
        <img src="https://m.media-amazon.com/images/I/41expeSbfdL._AC_UF1000,1000_QL80_.jpg" />
    </div>
    <div class="Datos">
        <h2>2. Clean Architecture: A Craftsman's Guide to Software Structure and Design</h2>
        <p>Martin, conocido como "Uncle Bob", presenta principios y patrones de arquitectura que ayudan a construir sistemas escalables y mantenibles. El libro se centra en la separación de responsabilidades y la importancia de mantener un código limpio y modular.</p>
        <img src="https://m.media-amazon.com/images/I/61r4tYVsRVL._AC_UF1000,1000_QL80_.jpg" />
    </div>
    <div class="Datos">
        <h2>3. Building Evolutionary Architectures: Support Constant Change</h2>
        <p>Este libro aborda cómo diseñar arquitecturas que sean capaces de evolucionar con el tiempo. Los autores discuten estrategias y prácticas para permitir el cambio continuo sin comprometer la calidad del sistema.</p>
        <img src="https://m.media-amazon.com/images/I/91V2fclaQPL._AC_UF1000,1000_QL80_.jpg" />
    </div>
    <div class="Datos">
        <h2>4. Software Systems Architecture: Working with Stakeholders Using Viewpoints and Perspectives</h2>
        <p>Una guía práctica que describe cómo trabajar con diferentes interesados utilizando un enfoque de vistas y perspectivas. El libro proporciona herramientas y técnicas para capturar, comunicar y validar arquitecturas de software complejas.</p>
        <img src="https://m.media-amazon.com/images/I/91P-bo2n-nL._AC_UF894,1000_QL80_.jpg" />
    </div>
</div>


